/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background: #FFC0CB;
}
.container {
  position: relative;
  max-width:500px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #E389B9;
}
.form button:hover {
  background: rgb(88, 56, 250);
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}
/* notification */
.vcv-container {
  padding: 30px;
}

.vce {
  margin-bottom: 30px;
}

.vce-message-box,
.vce-outline-message-box,
.vce-semi-filled-message-box,
.vce-simple-message-box {
  border-radius: 5px;
  padding: 17px 20px;
  font-size: 1em;
}

.vce-message-box {
  color: #fff;
}

.vce-message-box-inner,
.vce-outline-message-box-inner,
.vce-simple-message-box-inner {
  padding-left: 2.5em;
  position: relative;
}

.vce-message-box-icon,
.vce-outline-message-box-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 50%;
  font-weight: 400;
  height: 100%;
  font-size: 1.7em;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.vce-message-box-style--success {
  background: @success-color;
}

.vce-message-box-style--information {
  background: @info-color;
}

.vce-message-box-style--warning {
  background: @warning-color;
}

.vce-message-box-style--error {
  background: @error-color;
}

.vce-outline-message-box {
  color: #fff;
  border-width: 2px;
  border-style: solid;
}

.vce-outline-message-box-style--success,
.vce-semi-filled-message-box-style--success,
.vce-simple-message-box-style--success {
  border-color: @success-color;
  color: @success-color;
}

.vce-outline-message-box-style--information,
.vce-semi-filled-message-box-style--information,
.vce-simple-message-box-style--information {
  border-color: @info-color;
  color: @info-color;
}

.vce-outline-message-box-style--warning,
.vce-semi-filled-message-box-style--warning,
.vce-simple-message-box-style--warning {
  border-color: @warning-color;
  color: @warning-color;
}

.vce-outline-message-box-style--error,
.vce-semi-filled-message-box-style--error,
.vce-simple-message-box-style--error {
  border-color: @error-color;
  color: @error-color;
}

.vce-semi-filled-message-box {
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  position: relative;
}

.vce-semi-filled-message-box-inner {
  padding-left: 60px;
}

.vce-semi-filled-message-box-icon {
  -webkit-transition: none;
  transition: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  font-style: normal;
  font-weight: 400;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.vce-semi-filled-message-box-style--success .vce-semi-filled-message-box-icon {
  background: @success-color;
}

.vce-semi-filled-message-box-style--information .vce-semi-filled-message-box-icon {
  background: @info-color;
}

.vce-semi-filled-message-box-style--warning .vce-semi-filled-message-box-icon {
  background: @warning-color;
}

.vce-semi-filled-message-box-style--error .vce-semi-filled-message-box-icon {
  background: @error-color;
}

.vce-simple-message-box {
  border-width: 1px;
  border-style: solid;
}

.vce-simple-message-box-icon {
  -webkit-transition: none;
  transition: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  font-style: normal;
  font-weight: 400;
  width: 2.5em;
  height: 100%;
  display: flex;
  align-items: center;
}

.vce-simple-message-box-style--success {
  background: lighten(@success-color, 40%);
}

.vce-simple-message-box-style--information {
  background: lighten(@info-color, 25%);
}

.vce-simple-message-box-style--warning {
  background: lighten(@warning-color, 25%);
}

.vce-simple-message-box-style--error {
  background: lighten(@error-color, 20%);
}

/* table */
#customers {
  font-family: "Poppins", sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top:-22pc;
  position:fixed;
 background-color: White;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){
	background-color: White;
	}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 24px;
  text-align: left;
  background-color: #FFC0CB;
  color: white;
}

